<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <title>Cadastrar Usuário</title>
</head>
<body>
    <header>
        <h1>Cadastrar Usuário</h1>
        <p><a href="{{ url_for('list_users') }}">Ver lista de usuários</a></p>
    </header>

    <form action="/create/user" method="POST" class="create-form">
        <input type="text" name="description" placeholder="Nome" required />
        <input type="date" name="birthday" placeholder="Aniversário" required />
        <input type="email" name="email" placeholder="Email" required />
        <input type="password" name="password" placeholder="Senha" required />
        <button type="submit">Cadastrar</button>
    </form>

    
</body>
</html>
