<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <title>Lista de Usuários</title>
</head>

<body>
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
        <div id="flash-messages">
            {% for category, message in messages %}
                <div class="flash {{ category }}">{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}
    {% endwith %}

    <header>
        <h1>Usuários</h1>
        <p><a href="{{ url_for('create_user') }}">Cadastrar novo usuário</a></p>
    </header>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Aniversário</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for user in users_list %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.nome }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.aniversario }}</td>
                <td>
                    <a href="{{ url_for('update_user', user_id=user.id) }}">✎</a>
                </td>
                <td>
                    <a href="{{ url_for('delete_user', user_id=user.id) }}"
                    onclick="return confirm('Tem certeza que deseja deletar este usuário?');">
                    🗑
                    </a>
                </td>
            </tr>

            {% else %}
                <tr>
                    <td colspan="6" class="empty">Nenhum usuário encontrado</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <script>
        setTimeout(() => {
            const flash = document.getElementById('flash-messages');
            if (flash) {
                flash.style.display = 'none';
            }
        }, 3000);
    </script>
</body>

</html>