<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
    <title>Document</title>
  </head>
  <body>
    <main>
        <h1>{{title}}</h1>
        <table>
          <thead>
            <tr>
                {% for key in list[0].keys() %}
                <th>{{key.capitalize()}}</th>
                {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for item in list %}
            <tr>
                {% for value in item.values() %}
                <td>{{ value }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </main>
  </body>
</html>
