<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <title>Lista de Tarefas</title>
</head>
<body>
    <h1>Lista de Tarefas</h1>


    <form action="/create/task" method="POST">
        <input type="text" name="description" placeholder="Digite a tarefa..." required />
        <button type="submit">Add</button>
    </form>

    <ul>
        {% for task in tasks_list %}
            <li>
                <form class="small-btn" action="/update/task/{{ task.id }}" method="POST" style="display:inline-block;">
                    <input type="text" name="description" value="{{ task.descricao }}" required />
                    <button type="submit">Atualizar</button>
                </form>

                <form class="small-btn" action="/delete/task/{{ task.id }}" method="POST" style="display:inline-block;">
                    <button type="submit" onclick="return confirm('Deseja realmente deletar esta tarefa?')">Delete</button>
                </form>
            </li>
        {% else %}
            <li>Nenhuma tarefa encontrada</li>
        {% endfor %}
    </ul>
</body>
</html>
